# Core Reinforcement Learning Framework
torch==2.9.0
torchvision==0.24.0

# Data Processing và Scientific Computing
numpy==2.2.6      # Tương thích OpenCV <2.3.0
scipy==1.16.3

# Database Connector
pymongo==4.6.0

# Cấu hình và Logging
pyyaml==6.0.1
tqdm==4.66.1
dnspython==2.8.0
python-dotenv==1.0.0
